---
- name: Make a POST request to get Delegate k8s manifest contents
  ansible.builtin.uri:
    url: "{{ full_url }}"
    method: POST
    headers:
      x-api-key: "{{ api_token }}"
      Content-Type: 'application/json'
    body: "{{ body_content | to_json }}"
    body_format: json
    status_code: 200
    return_content: true
  register: manifest
  vars:
    endpoint_url: 'https://app.harness.io/gateway/ng/api/download-delegates/kubernetes'
    full_url: "{{ endpoint_url }}?accountIdentifier={{ account_id }}&orgIdentifier={{ org_id }}&projectIdentifier={{ project_id }}"
    body_content:
      name: "{{ delegate_name }}"
      description: "Ansible Created Delegate"
      size: "LAPTOP"
      tags:
        - "{{ delegate_name }}"
      tokenName: "{{ token_name }}"
      clusterPermissionType: "CLUSTER_ADMIN"
      customClusterNamespace: "string"

- name: Create manifests directory
  ansible.builtin.file:
    path: manifests
    state: directory
    mode: '0755'

- name: Create harness-delegate.yml file
  ansible.builtin.copy:
    content: "{{ manifest.content }}"
    dest: manifests/harness-delegate.yml
    mode: 0600
    force: true
